In [5]:
import pandas as pd
data = pd.read_csv('../data/house_raw.csv')
data

       housing_age  income  bedrooms  households      rooms  house_value
0               23  6.7770  0.141112    2.442244   8.103960       500000
1               49  6.0199  0.160984    2.726688   5.752412       500000
2               35  5.1155  0.249061    1.902676   3.888078       500000
3               32  4.7109  0.231383    1.913669   4.508393       500000
4               21  4.5625  0.255583    3.092664   4.667954       500000
...            ...     ...       ...         ...        ...          ...
17909           33  2.6750  0.246622    3.428571   4.698413        22500
17910           39  2.3667  0.340771    1.876812   3.572464        17500
17911           19  2.1000  0.386107    2.987805   3.774390        14999
17912           16  1.6607  0.286275    2.236842   6.710526        14999
17913           36  0.5360  0.285714    2.250000  12.250000        14999

[17914 rows x 6 columns]

In [6]:
data.describe()

,housing_age,income,bedrooms,households,rooms,house_value
count,17914.000000,17914.000000,17914.000000,17914.000000,17914.000000,17914.000000
mean,27.307022,3.664086,0.214309,3.007667,5.370672,188692.620130
std,11.297204,1.526694,0.055251,4.579534,2.332776,95318.621139
min,1.000000,0.499900,0.100000,0.692308,0.846154,14999.000000
25%,18.000000,2.526125,0.177544,2.467031,4.426115,114325.000000
50%,28.000000,3.447800,0.204256,2.853499,5.199222,170800.000000
75%,36.000000,4.583300,0.240476,3.318866,5.970848,242100.000000
max,51.000000,9.905500,1.000000,599.714286,132.533333,500000.000000

In [7]:
x = data[data.columns[0:5]]
y = data['house_value']

In [ ]:
from sklearn import